<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8" content="text/html">
    <title>发布</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/community.css">
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true">发起</span></h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="问题标题...">
                </div>
                <div class="form-group">
                    <label for="description">问题补充（必填）</label>
                    <textarea class="form-control" th:text="${description}"  name="description" id="description" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="输入标签，以逗号，隔开...">
                </div>
                <!--                <span class="th:${error}"></span>-->
                <div class="alert-danger" th:if="${error != null}" style="margin-bottom: 10px">
                    <span th:text="${error}"></span>
                </div>
                <button type="submit" class="btn btn-success btn-public">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发表指南</h3>
            问题标题：
            问题补充：
            添加标签：
        </div>
    </div>
</div>
</body>
</html>